<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/master-layout}">
<head>
    <title>Library - Membership Type</title>
</head>
<body>
    <div layout:fragment="content" style="padding-top:1em;" class="container">
  <main>
    <span style="font-size: 2em;" class="primary-color">List of Membership Types</span>
      <span style="float:right;">
        <a class="btn btn-outline-success btn-lg" href="/library/secured/librarymembertype/new">
          <i class="fa-solid"></i> Add New Membership Type
        </a>
      </span>
      <hr>
    <section>
      <form action="/library/secured/librarymembertype/search" method="get">
        <fieldset>
          <legend>Search for Membership Types</legend>
          <label>
            You may search by name.
          </label>
          <div>
            <input type="search" name="searchString" id="searchString" th:value="${searchString}" autofocus>
            <button type="submit" class="btn btn-primary btn-sm">Search</button>
          </div>
        </fieldset>
      </form>
    </section>
    <br>
    <section>
      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Max Length Borrow (days)</th>
          <th>Overdue Fee (per day)</th>
          <th>*</th>
          <th>*</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="libraryMemberType, counter : ${libraryMemberTypes}">
          <th th:text="${counter.count}+${'.'}"></th>
          <td th:text="${libraryMemberType.name}"></td> 
          <td>
            <span th:text="${libraryMemberType.maxLengthBorrowBook}"></span> 
          </td>
          <td>
            $ <span th:text="${libraryMemberType.overdueFee}"></span>
          </td>
          <td><a th:href="@{'/library/secured/librarymembertype/edit/{libraryMemberTypeId}'(libraryMemberTypeId=${libraryMemberType.libraryMemberTypeId})}">Edit</a></td>
          <td><a th:href="@{'/library/secured/librarymembertype/delete/{libraryMemberTypeId}'(libraryMemberTypeId=${libraryMemberType.libraryMemberTypeId})}">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </section>

  <section th:if="${libraryMemberTypes.totalPages>0}" style="margin-top: 1em;">
    <!-- Pagination -->
    <table border="1" cellspacing="3" cellpadding="5">
      <tbody>
        <tr>
          <th scope="row">Pages:</th>
          <td th:each="pageCount : ${#numbers.sequence(1, libraryMemberTypes.totalPages)}">
            <a th:if="${currentPageNo == pageCount-1}" th:href="@{/library/secured/librarymembertype/list(pageNo=${pageCount-1})}"
              th:text="${pageCount}" style="padding: 100%; background-color:lightcoral"></a>
            <a th:if="${currentPageNo != pageCount-1}" th:href="@{/library/secured/librarymembertype/list(pageNo=${pageCount-1})}"
              th:text="${pageCount}"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  </main>
  </div>
</body>
</html>