<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/master-layout}">
<head>
    <title>Library - Books</title>
</head>
<body>
    <div layout:fragment="content" style="padding-top:1em;" class="container">

  <main>
    <span style="font-size: 2em;" class="primary-color">List of Books</span>
    <hr/>
    <section>
      <form action="/library/secured/book/member/search" method="get">
        <fieldset>
          <legend>Search results for '[[${searchString}]]'</legend>
          <label>
            You may search by title, isbn, etc.
          </label>
          <div>
            <input type="search" name="searchString" id="searchString" th:value="${searchString}" autofocus>
            <button type="submit" class="btn btn-primary btn-sm">Search</button>
          </div>
        </fieldset>
      </form>
    </section>
    <br>
    <section>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Location</th>
            <th>Total Copy</th>
            <th>Available Copy</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="book, counter : ${books}">
            <th th:text="${counter.count}+${'.'}"></th>
            <td th:text="${book.title}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.location}"></td>
            <td th:text="${book.totalCopy}"></td>
            <td th:text="${book.availableCopy}"></td>
          </tr>
          <tr th:if="${books.isEmpty()}">
            <td colspan="11" th:align="center">No books found</td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
  </div>
</body>
</html>
